[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmuxifier"]
	path = tmux/.tmux/plugins/tmuxifier
	url = https://github.com/jimeh/tmuxifier
